<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <head>
        <title>Menu</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h3 class="mx-2">House Hunter</h3>
        <div class="container">
            <div class="columns">
                <div class="col-4">
                    <div class="form-group, mx-2">
                        <form method="post">
                            <br/>
                            <button class="btn btn-success" type="submit" name="view" value="view">View</button>
                            <br/>
                        </form>
                        <form method="post">
                            <br/>
                            <button class="btn btn-success" type="submit" name="edit" value="edit">Edit</button>
                            <br/>
                        </form>
                        <form method="post">
                            <br/>
                            <button class="btn btn-success" type="submit" name="settings" value="settings">Settings</button>
                            <br/>
                        </form>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>